Repository EdwardApollo/openpilot-old: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

test_debayer.py some PC fixes (#24449)
  selfdrive/test/process_replay/.gitignore
  selfdrive/test/process_replay/test_debayer.py
Due: pylint

sanity check on debayer time in CI (#24453)
  selfdrive/test/test_onroad.py
Due: pylint

debayering: fill outer image borders (#24441)
  selfdrive/camerad/cameras/real_debayer.cl
  selfdrive/test/process_replay/debayer_replay_ref_commit
Due: none

cell testing script
  scripts/cell.sh
Due: none

update issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

remove from car bug too
  .github/ISSUE_TEMPLATE/car_bug_report.yml
Due: none

no encoder throttle (#24457)
  selfdrive/hardware/tici/hardware.py
Due: pylint

Toyota: fill steerFaultPermanent (#24410)
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/carstate.py
Due: pylint

Latcontrol torque: fix integrator induced ping pong (#24458)
  selfdrive/car/toyota/tunes.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

Chrysler: add ACC fault signal (#24398)
  selfdrive/car/chrysler/carstate.py
Due: pylint

Chrysler: reduce ACC faults when disengaging on gas (#24445)
  selfdrive/car/chrysler/carcontroller.py
  selfdrive/car/chrysler/carstate.py
  selfdrive/car/chrysler/chryslercan.py
Due: pylint

uploader: ensure requests.put gets file like object (#24462)
  selfdrive/loggerd/uploader.py
Due: pylint

Camry TSS2: use torque controller (#24268)
  selfdrive/car/toyota/interface.py
Due: pylint

tici modem restart script
  selfdrive/hardware/tici/restart_modem.sh
Due: none

Bump laika (#24454)
  selfdrive/locationd/laikad.py
  selfdrive/locationd/test/test_laikad.py
  selfdrive/locationd/test/test_ublox_processing.py
Due: pylint

Tools: allow uncompressed logs (#24471)
  tools/lib/route.py
Due: pylint

URLFile: raise exception if remote URL doesn't exist when using cache (#24432)
  tools/lib/url_file.py
Due: pylint

clean up gamma variable names (#24476)
  selfdrive/camerad/cameras/real_debayer.cl
Due: none

faster modem restart
  selfdrive/hardware/tici/restart_modem.sh
Due: none

tools: add link to jungle repo (#24477)
  tools/replay/README.md
Due: none

update python packages (#24478)
  Pipfile.lock
Due: none

simplify and fix clamp (#24479)
  selfdrive/camerad/cameras/real_debayer.cl
Due: none

pj: add fan rpm to thermal layout
  tools/plotjuggler/layouts/thermal_debug.xml
Due: none

process replay: automatically push refs on fail (#24414)
  .github/workflows/selfdrive_tests.yaml
  selfdrive/test/openpilotci.py
  selfdrive/test/process_replay/README.md
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/test_processes.py
  selfdrive/test/process_replay/update_refs.py
Due: pylint

car info: function that sorts all car info into tiers (#24498)
  scripts/count_cars.py
  selfdrive/car/docs.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/tests/test_docs.py
Due: pylint

test car models: stricter radar CAN error check (#24497)
  selfdrive/car/tests/test_models.py
Due: pylint

CarInfo: Add harness information (#24085)
  docs/CARS.md
  selfdrive/car/body/values.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/docs.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/mazda/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
Due: pylint

Toyota: correct weight for the Prius V (#24499)
  selfdrive/car/toyota/interface.py
Due: pylint

Pipfile: remove carla for MacOS installs (#24502)
  Pipfile
  Pipfile.lock
Due: none

Add gamepad support for body (#24415)
  tools/joystick/web.py
Due: pylint

Mypy fixes for --check-untyped-defs (#24372)
  common/realtime.py
  selfdrive/athena/athenad.py
  selfdrive/car/honda/carcontroller.py
  selfdrive/controls/controlsd.py
  selfdrive/locationd/test/test_locationd.py
  selfdrive/loggerd/uploader.py
  selfdrive/loggerd/xattr_cache.py
  selfdrive/modeld/thneed/lib.py
  selfdrive/test/process_replay/model_replay.py
  selfdrive/test/process_replay/test_processes.py
  tools/lib/auth.py
  tools/replay/unlog_ci_segment.py
  tools/sim/bridge.py
Due: pylint

debayering: update ref commit for debayer test
  selfdrive/test/process_replay/debayer_replay_ref_commit
Due: none

fix the problem with replay routes locally (#24350)
  selfdrive/ui/replay/route.cc
Due: cppcheck

add mypy check for return-any (#24379)
  .pre-commit-config.yaml
  common/realtime.py
  common/xattr.py
  scripts/waste.py
  selfdrive/athena/registration.py
  selfdrive/boardd/pandad.py
  selfdrive/car/__init__.py
  selfdrive/car/docs.py
  selfdrive/car/volkswagen/values.py
  selfdrive/controls/lib/events.py
  selfdrive/controls/lib/vehicle_model.py
  selfdrive/debug/live_cpu_and_temp.py
  selfdrive/debug/run_process_on_route.py
  selfdrive/hardware/tici/agnos.py
  selfdrive/locationd/calibrationd.py
  selfdrive/manager/process_config.py
  selfdrive/sensord/rawgps/compare.py
  selfdrive/updated.py
  selfdrive/version.py
  tools/lib/bootlog.py
Due: pylint

Improved steering accuracy measurement script (#23583)
  selfdrive/debug/internal/measure_steering_accuracy.py
  tools/tuning/measure_steering_accuracy.py
Due: pylint

tools/replay: replace deprecated usleep(0) with std::this_thread::yield (#23544)
  selfdrive/ui/replay/camera.cc
  selfdrive/ui/replay/camera.h
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/util.cc
Due: cppcheck

Hyundai: fix wheelbase and steeringratio for Kona, Kona HEV , Kona EV (#24464)
  selfdrive/car/hyundai/interface.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)/|(installer/)
