Repository EdwardApollo/openpilot-old: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs', 'types-requests', 'types-atomicwrites',
                                  'types-pycurl', 'types-certifi', 'lxml']
        args:
        - --warn-unused-ignores
        - --warn-redundant-casts
        - --warn-unreachable
        #- --html-report=/home/batman/openpilot
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)/|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

Round model lagging frame drop percentage (#24549)
  selfdrive/controls/lib/events.py
Due: pylint

camerad: improve error logging (#24550)
  selfdrive/camerad/cameras/camera_qcom2.cc
Due: cppcheck

Round system overheated temperature (#24544)
  selfdrive/controls/lib/events.py
Due: pylint

CI: pull LFS after checkout (#24552)
  .github/workflows/release.yaml
  .github/workflows/tools_tests.yaml
Due: none

params: support OPENPILOT_PREFIX (#24495)
  selfdrive/common/params.cc
  selfdrive/common/params.h
Due: cppcheck

compressed_vipc: set NV_LOW_LATENCY flag
  tools/camerastream/compressed_vipc.py
Due: pylint

remove local caching
  selfdrive/camerad/cameras/real_debayer.cl
Due: none

Revert "remove local caching"
  selfdrive/camerad/cameras/real_debayer.cl
Due: none

Joint model (#24521)
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/models/supercombo.dlc
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Due: cppcheck

Revert "camerad: combine debayering and rgb_to_yuv opencl kernels (#24452)"
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/real_debayer.cl
  selfdrive/camerad/snapshot/snapshot.py
  selfdrive/hardware/tici/test_power_draw.py
  selfdrive/test/process_replay/test_debayer.py
  selfdrive/test/test_onroad.py
Due: pylint, cppcheck

update submodules
  .gitmodules
Due: none

delete LFS config
  .lfsconfig
Due: none

fix set_core_affinity type
  selfdrive/hardware/eon/androidd.py
Due: pylint

fix persist
  selfdrive/manager/process_config.py
Due: pylint

Revert navd
  selfdrive/manager/process_config.py
Due: pylint

fix controlsd
  selfdrive/controls/controlsd.py
Due: pylint

remove unused reference
  selfdrive/controls/controlsd.py
Due: pylint

fix mypy error
  selfdrive/hardware/eon/hardware.py
Due: pylint

Update interface.py
  selfdrive/car/hyundai/interface.py
Due: pylint

add hkg to max lat accel and import params
  selfdrive/car/hyundai/interface.py
Due: pylint

NEOS 20
  RELEASES.md
  launch_env.sh
  selfdrive/common/version.h
  selfdrive/hardware/eon/neos.json
Due: cppcheck

Faster accel from start
  selfdrive/car/toyota/carcontroller.py
Due: pylint

Masteryota
  selfdrive/assets/img_chffr_wheel.png
  selfdrive/assets/img_spinner_comma.png
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/car/toyota/interface.py
  selfdrive/common/params.cc
  selfdrive/controls/lib/events.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/manager/manager.py
  selfdrive/thermald/power_monitoring.py
  selfdrive/ui/qt/offroad/settings.cc
Due: pylint, cppcheck

Update interface.py
  selfdrive/car/honda/interface.py
Due: pylint

Classic comma spinner
  selfdrive/assets/img_spinner_comma.png
Due: none

Update longitudinal_planner.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint

Legacy Comma engage/disengage sounds
  selfdrive/assets/sounds/disengage.wav
  selfdrive/assets/sounds/engage.wav
Due: none

chart vals
  selfdrive/car/toyota/interface.py
Due: pylint

tuned by spektor
  selfdrive/car/honda/interface.py
Due: pylint

Higher than 1.2 messes with accel hack
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint

add rav4 to torque controller
  selfdrive/car/toyota/interface.py
Due: pylint

Stockify accel
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint

Update Torque Tune for Accord
  selfdrive/car/honda/interface.py
Due: pylint
