Repository EdwardApollo/openpilot-old: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs', 'types-requests', 'types-atomicwrites',
                                  'types-pycurl', 'types-certifi', 'lxml']
        args:
        - --warn-unused-ignores
        - --warn-redundant-casts
        - --warn-unreachable
        #- --html-report=/home/batman/openpilot
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)/|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

ui: fix cameraview widget on MacOS after YUV changes (#24506)
  selfdrive/ui/qt/widgets/cameraview.cc
Due: cppcheck

debayering: code cleanup (#24507)
  selfdrive/camerad/cameras/real_debayer.cl
Due: none

ftrace profiling script
  selfdrive/debug/profiling/ftrace.sh
Due: none

hatanaka 2.4 (#24508)
  Pipfile
  Pipfile.lock
Due: none

boardd: set extra pandas to silent safety mode (#24511)
  selfdrive/boardd/boardd.cc
Due: cppcheck

process replay CI: print diff after test (#24513)
  .github/workflows/selfdrive_tests.yaml
Due: none

Add desired curvature to controlsState (#24510)
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

process replay: don't print diff when only uploading (#24514)
  selfdrive/test/process_replay/test_processes.py
Due: pylint

can_printer: add frequency
  selfdrive/debug/can_printer.py
Due: pylint

process replay: save logs to folder (#24509)
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/test_processes.py
Due: pylint

jenkins: prune lfs objects
  selfdrive/test/setup_device_ci.sh
Due: none

Joint Model (#24213)
  models/supercombo.dlc
  models/supercombo.onnx
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
  selfdrive/test/process_replay/model_replay_ref_commit
Due: cppcheck

Revert "Joint Model (#24213)"
  models/supercombo.dlc
  models/supercombo.onnx
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
  selfdrive/test/process_replay/model_replay_ref_commit
Due: cppcheck

Add sensord test to Jenkins (#24524)
  Jenkinsfile
  selfdrive/sensord/test/__init__.py
  selfdrive/sensord/test/test_sensord.py
Due: pylint

camerad: combine debayering and rgb_to_yuv opencl kernels (#24452)
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/real_debayer.cl
  selfdrive/camerad/snapshot/snapshot.py
  selfdrive/hardware/tici/test_power_draw.py
  selfdrive/test/process_replay/test_debayer.py
  selfdrive/test/test_onroad.py
Due: pylint, cppcheck

add body to release (#24528)
  release/files_common
Due: none

bump opendbc and remove common file (#24529)
  release/files_common
Due: none

CI: add SSH for pushing branches
  Dockerfile.openpilot_base
Due: none

LatControlTorque: clean up class variable (#24526)
  selfdrive/controls/lib/latcontrol_torque.py
Due: pylint

Update body test route (#24532)
  selfdrive/car/tests/routes.py
Due: pylint

CI: build master-ci in Actions (#24533)
  .github/workflows/release.yaml
  Jenkinsfile
  release/build_devel.sh
  release/build_release.sh
  release/files_common
  release/files_pc
  release/files_tici
  release/identity.sh
Due: none

push to real master-ci
  .github/workflows/release.yaml
Due: none

Fix process replay regen (#24517)
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/regen.py
Due: pylint

remove common/string_helpers.py
  common/string_helpers.py
Due: pylint

move models to selfdrive/modeld/ (#24539)
  release/build_release.sh
  release/files_common
  selfdrive/modeld/SConscript
  selfdrive/modeld/models/README.md
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/modeld/models/dmonitoring_model.current
  selfdrive/modeld/models/dmonitoring_model.onnx
  selfdrive/modeld/models/dmonitoring_model_q.dlc
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/supercombo.dlc
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/modeld/thneed/weights_fixup.py
  tools/sim/Dockerfile.sim
Due: pylint, cppcheck

CI tuneup (#24541)
  .github/workflows/prebuilt.yaml
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/tools_tests.yaml
  release/files_pc
Due: none

fixup .gitignore
  .gitignore
Due: none

typo fix (#24542)
  common/transformations/README.md
Due: none

camerad: sanity check register data before parsing (#24547)
  selfdrive/camerad/cameras/camera_qcom2.cc
Due: cppcheck

debayering: fix divide for reading 12 bit values (#24546)
  selfdrive/camerad/cameras/real_debayer.cl
Due: none

debayering: update test ref commit
  selfdrive/test/process_replay/debayer_replay_ref_commit
Due: none

Tesla stock AEB forwarding (#24503)
  selfdrive/car/tesla/carcontroller.py
  selfdrive/car/tesla/carstate.py
  selfdrive/car/tesla/teslacan.py
Due: pylint

Add unittest for alert callbacks (#24551)
  selfdrive/controls/tests/test_alerts.py
  selfdrive/test/process_replay/process_replay.py
Due: pylint
