Repository EdwardApollo/openpilot-old: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs', 'types-requests', 'types-atomicwrites',
                                  'types-pycurl', 'types-certifi', 'lxml']
        args:
        - --warn-unused-ignores
        - --warn-redundant-casts
        - --warn-unreachable
        #- --html-report=/home/batman/openpilot
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)/|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

UI: remove unused lock and fence (#24355)
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Due: cppcheck

Change safetyParam to uint16_t (#24376)
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda.h
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/test_processes.py
Due: pylint, cppcheck

Latcontrol torque: update tuning (#24357)
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/tunes.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

enable numpy mypy typing (#24387)
  .pre-commit-config.yaml
  common/transformations/orientation.py
  common/window.py
  mypy.ini
Due: pylint

Add ACC faulted status to carState (#24399)
  selfdrive/car/gm/carstate.py
  selfdrive/car/gm/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/interface.py
Due: pylint

UI: better double click on touch screens (#24400)
  selfdrive/ui/ui
Due: none

UI: add battery percent to body (#24401)
  selfdrive/ui/qt/body.cc
  selfdrive/ui/qt/body.h
Due: cppcheck

delay bz2 compression from logging to uploading (#24392) * remove log_name
  selfdrive/athena/athenad.py
  selfdrive/athena/tests/test_athenad.py
  selfdrive/loggerd/SConscript
  selfdrive/loggerd/bootlog.cc
  selfdrive/loggerd/logger.cc
  selfdrive/loggerd/logger.h
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/tests/test_encoder.py
  selfdrive/loggerd/tests/test_logger.cc
  selfdrive/loggerd/tests/test_loggerd.py
  selfdrive/loggerd/tests/test_uploader.py
  selfdrive/loggerd/uploader.py
  selfdrive/test/process_replay/regen.py
  selfdrive/test/test_onroad.py
Due: pylint, cppcheck

camerad: allow to log raw camera frames (#24393)
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom2.cc
Due: cppcheck

one day you'll be a submodule
  .gitignore
Due: none

Chrysler: clean up CarController (#24337)
  selfdrive/car/chrysler/carcontroller.py
  selfdrive/car/chrysler/chryslercan.py
  selfdrive/car/chrysler/interface.py
Due: pylint

body: log charging status (#24409)
  selfdrive/car/body/carstate.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

LatControlTorque: log desired/actual lateral accel (#24406)
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

ui: new notcar battery design (#24412)
  selfdrive/ui/qt/body.cc
  selfdrive/ui/qt/body.h
  selfdrive/ui/tests/body.py
Due: pylint, cppcheck

update joystick README for webjoystick (#24413)
  tools/joystick/README.md
Due: none

manager: start process by callback (#24417)
  selfdrive/manager/manager.py
  selfdrive/manager/process.py
  selfdrive/manager/process_config.py
Due: pylint

body: opt-in logging (#24416)
  selfdrive/common/params.cc
  selfdrive/manager/process_config.py
  selfdrive/ui/qt/body.cc
  selfdrive/ui/qt/body.h
Due: pylint, cppcheck

map.cc: fix crash on older route with missing liveLocationKalman values
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

cameraview.cc: set alignment to 1 when copying texture (#24418)
  selfdrive/ui/qt/widgets/cameraview.cc
Due: cppcheck

ui: fix HUD drawing order (#24419)
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

warning instead assert (#24424)
  tools/latencylogger/latency_logger.py
Due: pylint

latency logger: better errors and minor cleanup
  tools/latencylogger/latency_logger.py
Due: pylint

body: opt-out logging (#24423)
  selfdrive/common/params.cc
  selfdrive/manager/process_config.py
  selfdrive/ui/qt/body.cc
  selfdrive/ui/qt/body.h
  selfdrive/ui/qt/home.cc
  selfdrive/ui/ui.cc
Due: pylint, cppcheck

Add azure-storage-blob to dev packages (#24426)
  Pipfile
  Pipfile.lock
Due: none

CI: allow triggering prebuilt workflow manually
  .github/workflows/prebuilt.yaml
Due: none

increase cruiseMismatch threshold (#24428)
  selfdrive/controls/controlsd.py
Due: pylint

make debayering consistent at edges (#24437)
  selfdrive/camerad/cameras/real_debayer.cl
Due: none

test for comparing debayer results to ref commit (#24420)
  selfdrive/test/process_replay/debayer_replay_ref_commit
  selfdrive/test/process_replay/test_debayer.py
Due: pylint

debayering: typedef half as float to run on pc (#24439)
  selfdrive/camerad/cameras/real_debayer.cl
Due: none

Toyota: Add missing FW versions for RAV4 Hybrid 2022 (#24430)
  selfdrive/car/toyota/values.py
Due: pylint

Toyota: add missing FW versions for 2022 Lexus ES 300h (#24431)
  docs/CARS.md
  selfdrive/car/toyota/values.py
Due: pylint

Toyota: add missing Prius TSS2 engine FW (#24438)
  selfdrive/car/toyota/values.py
Due: pylint

uploader: compress rlogs (#24447)
  selfdrive/loggerd/uploader.py
Due: pylint

camerad: get embedded statistics and data by embedding in pixel data (#24353)
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
  selfdrive/camerad/cameras/camera_replay.cc
  selfdrive/camerad/cameras/real_debayer.cl
  selfdrive/camerad/cameras/sensor2_i2c.h
Due: cppcheck

uploader: size limit for automatic uploading of qlogs/qcams (#24403)
  selfdrive/loggerd/uploader.py
Due: pylint

Laikad: the basics for ublox msg processing (#24359)
  Pipfile
  Pipfile.lock
  selfdrive/locationd/laikad.py
  selfdrive/locationd/test/test_laikad.py
Due: pylint

Test gnssUblox message processing (#24404)
  selfdrive/locationd/test/test_ublox_processing.py
Due: pylint
